.market-image-popup {
	max-width: 100%;
}

.market-category-menu {
	border-color: transparent !important;
	margin-bottom: 0 !important;
	
	li {
		> a, a:hover {
			text-decoration: none;
		}
		
		> a.selected {
			color: $(text-color-mild);
			background-color: $(background-color-mild);
			text-decoration: none;
		}
	}
}

.market-attachments {
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	padding: 1rem;
	border: 1px solid $(border-color-soft);
	border-radius: 6px;
	
	img {
		max-width: 100%;
		margin-right: 0.5rem;
		border-radius: 15px;
	}
}

.market-image-block {
	> .elgg-image {
		min-width: 208px;
		text-align: center;
	}
	
	> .elgg-image-alt {
		margin: 25px 25px 0 0;
	}
}

.market-buttons {
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	padding: 1rem;
	border-bottom: 1px solid $(border-color-soft);
}

.market-description {
	padding: 1rem 0;
	border-bottom: 1px solid $(border-color-soft);
}

.market-river-image {
	width: 60px;
	height: 60px;
}

.market-form-image {
	width: 75px;
	height: 75px;
}

.market_characters_remaining {
	bottom: 0;
    color: $(text-color-mild);
    font-size: 11px;
    left: 0;
    line-height: 20px;
    padding: 0 8px;
    text-align: right;
    vertical-align: middle;
}

.market_charleft {
    margin: 0 5px 0 0;
}

.market-counter-overflow {
	color: $(state-danger-font-color) !important;
}